In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
path='c://Users/jxh/Desktop/总数据_1.xlsx'
df=pd.read_excel(path,dtype=object )

In [8]:
df2=df[0:100]
df.shape,df2.shape

((975875, 19), (100, 19))

In [19]:
df.columns

Index(['\t交易卡号', '\t交易账号', '\t交易方户名', '\t交易方证件号', '\t交易账户开户银行', '\t交易时间',
       '\t交易金额', '\t交易余额', '\t交易币种', '\t借贷标志', '\t对手账号', '\t对手户名', '\t对手证件号',
       '\t对手账户开户银行', '\t对手交易余额', '\t摘要说明', '\t备注', '\tIP地址', '\tMAC地址'],
      dtype='object')

In [20]:
df.columns=['cxkh','jyzh','jymc','jyzjhm','jyzhkhh','jysj','jyje','jyye','jybz','jdbz','jydfzkh','jydfmc','jydfzjhm','jydfzhkhh','dsjyye','zysm','beiz','ip','mac']

In [26]:
for column in df.columns:
    print(column)
    df[column]=df[column].apply(lambda x : str(x).replace("\t",""))

cxkh
jyzh
jymc
jyzjhm
jyzhkhh
jysj
jyje
jyye
jybz
jdbz
jydfzkh
jydfmc
jydfzjhm
jydfzhkhh
dsjyye
zysm
beiz
ip
mac

In [29]:
df.dtypes

cxkh         object
jyzh         object
jymc         object
jyzjhm       object
jyzhkhh      object
jysj         object
jyje         object
jyye         object
jybz         object
jdbz         object
jydfzkh      object
jydfmc       object
jydfzjhm     object
jydfzhkhh    object
dsjyye       object
zysm         object
beiz         object
ip           object
mac          object
dtype: object

In [30]:
import time 
t1=time.clock()
engine = create_engine("mysql+pymysql://{}:{}@{}/{}?charset={}".format('root', '521521', '127.0.0.1:3306', 'test','utf8'))


df.to_sql('gas_bank_records',con=engine,if_exists='replace',index=False)  
t2=time.clock()
print(t2-t1)

D:\develop\anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

D:\develop\anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
D:\develop\anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

82.62921419999998

D:\develop\anaconda\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  import sys

In [34]:
df2=pd.read_csv('c:/Users/jxh/Desktop/资金交易明细20200415115547_1.csv',encoding='gbk')
df2.head().shape

(5, 33)

In [35]:
df2.to_sql('test12',con=engine,if_exists='replace',index=False)