In [6]:
import pymysql as ps
import re
import xlrd
import pandas as pd
import numpy as np

db_host = 'localhost'
db_user = 'root'
db_pwd = '521521'
db_name = 'sxzy'
char_type = 'utf-8'
db = ps.connect(db_host, db_user, db_pwd, db_name, charset='utf8')
couser = db.cursor()

In [3]:
sql='select jymc from person_info'
couser.execute(sql)
rows = couser.fetchall()
jymc_list=[i[0] for i in rows]

In [4]:
sql='select distinct jymc  from gas_bank_records'
couser.execute(sql)
rows = couser.fetchall()
jymc_list=[i[0] for i in rows]
jymc_df=pd.DataFrame(jymc_list,columns=['jymc'])

In [21]:
table_name='person_info'
a='崔新平'
sql="select * from {tab_name} where jymc = '{jymc}'".format(table_name, a)
print(sql)
# values=[table_name,'崔新平']
couser.execute(sql)
rows = couser.fetchall()
jydfmc_list=[i[0] for i in rows]
jydfmc_list

select * from person_info where jymc = '崔新平'

['崔新平']

In [ ]:
df_jymc=pd.concat([jydfmc_df,jydfmc_df],axis=0).drop_duplicates()

In [ ]:
df_jymc=df_jymc.fillna('a')
df_jymc['len_']=df_jymc['jymc'].apply(lambda x:len(x) )

In [ ]:
df_select_jymc=df_jymc[(df_jymc['len_']>4 )& df_jymc['jymc'].str.contains('市政|世正|工程|大同')]

In [ ]:
df_select_jymc.to_excel('c:/Users/jxh/Desktop/select_jymc.xlsx',index=False,encoding='utf-8')

In [23]:

def select(jymc,table_name):
    sql = "select * from (\
    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,\
           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,\
           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,\
           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,\
           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh\
             from \
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from {} where jymc='{}' )t1\
            left join\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from{} )t2\
            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5 \
            and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from {}  )t3\
            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5\
            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and \
            t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from {} )t4\
            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5\
            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from {})t5\
            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5\
            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh \
            and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t".format(table_name,jymc,table_name,table_name,table_name,table_name)
    print(sql)
    # 执行语句
    couser.execute(sql)
    rows = couser.fetchall()
#     df_list.append(rows)
    return rows

In [26]:
jymc_list=["新蒲建设集团有限公司太原分公司",
"吕梁市建筑安装总公司第四工程处",
"吕梁市浩珈混凝土有限公司",
"吕梁浩弘商贸有限公司",
"大同市政建设集团有限公司",
"吕梁市建筑安装总公司第二工程处",
"吕梁市建筑安装总公司第一工程处",
"吕梁市建筑安装总公司建筑安装工程处",
"大同市政建设集团有限公司吕梁项目部",
"大同市政建集团有限公司",
"大同市世正建设有限公司吕梁公司",
"吕梁市建筑安装总公司直属五工程处",
"吕梁市建筑安装总公司第四工程处",
"吕梁市建筑安装总公司直属三工程处",
"吕梁市建筑安装总公司直属一工程处"]
df_list=[]
for i in jymc_list:
    print('第----',jymc_list.index(i),'-----------个，总共',len(jymc_list),'个')
    df_list.append(select(i," df_all_lianlu_chu"))

第---- 0 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='新蒲建设集团有限公司太原分公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 1 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司第四工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 2 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市浩珈混凝土有限公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 3 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁浩弘商贸有限公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 4 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='大同市政建设集团有限公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t

第---- 5 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司第二工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 6 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司第一工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 7 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司建筑安装工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 8 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='大同市政建设集团有限公司吕梁项目部' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 9 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='大同市政建集团有限公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t

第---- 10 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='大同市世正建设有限公司吕梁公司' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 11 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司直属五工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 1 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司第四工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 13 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司直属三工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t
第---- 14 -----------个，总共 15 个
select * from (    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh             from             (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu where jymc='吕梁市建筑安装总公司直属一工程处' )t1            left join            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_all_lianlu_chu )t2            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5             and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu  )t3            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and             t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from  df_all_lianlu_chu )t4            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh            left JOIN            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from  df_all_lianlu_chu)t5            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh             and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t

In [27]:
df1_list=[i for i in df_list if len(i)!=0]

In [28]:
df_data=[]
for i in df1_list:
    for j in i:
        df_data.append(j)

In [29]:
import numpy as np
import pandas as pd
col=['起点名称','起点卡号','起点时间','起点金额','一层名称','一层卡号','一层时间','一层金额','二层名称','二层卡号','二层时间','二层金额','三层名称','三层卡号','三层时间','三层金额','四层名称','四层卡号','四层时间','四层金额','五层名称','五层卡号']

In [30]:
dd=pd.DataFrame(np.array(df_data),columns=col).drop_duplicates()
dd1=dd[dd['一层名称'].str.contains('崔新平|任志强|高明明|胡静|韩晶|王震|杨晓龙')==True]
dd1.shape

(84, 22)

In [ ]:
dd1.to_excel('c://users//jxh//desktop//20200416/主要人员去向明细.xlsx',encoding='utf-8',index=False)