In [19]:
import pymysql as ps
import re
import xlrd
import pandas as pd
import numpy as np

db_host = 'localhost'
db_user = 'root'
db_pwd = '521521'
db_name = 'sxzy'
char_type = 'utf-8'
db = ps.connect(db_host, db_user, db_pwd, db_name, charset='utf8')
couser = db.cursor()

In [20]:
sql='select jymc from person_info'
couser.execute(sql)
rows = couser.fetchall()
jymc_list=[i[0] for i in rows]

In [21]:

def select(jymc):
    sql = 'select * from (\
    select t1.jymc yicmc,t1.cxkh yiczh,t1.jysj yicsj,t1.jyje yicje,t1.jydfmc ercmc, t1.jydfzkh erckh,\
           t2.jysj ercsj,t2.jyje ercje,t2.jydfmc sancmc,t2.jydfzkh sanckh,\
           t3.jysj sancsj,t3.jyje sancje,t3.jydfmc sicmc,t3.jydfzkh sickh,\
           t4.jysj sicsj,t4.jyje sicje,t4.jydfmc wucmc,t4.jydfzkh wuckh,\
           t5.jysj wucsj,t5.jyje wucje,t5.jydfmc liucmc,t5.jydfzkh liuckh\
             from \
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_lianlu_chu_2016 where jymc="'+jymc+'" )t1\
            left join\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_lianlu_chu_2016 )t2\
            on t1.jydfzkh=t2.cxkh and t2.jyje between t1.jyje*0.5 and t1.jyje*1.5 \
            and t2.stamp_jysj between t1.stamp_jysj and t1.stamp_jysj+172800 and t2.jydfzkh!=t1.cxkh and t2.jydfzkh!=t2.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_lianlu_chu_2016  )t3\
            on t2.jydfzkh=t3.cxkh and t3.jyje between t2.jyje*0.5 and t2.jyje*1.5\
            and t3.stamp_jysj between t2.stamp_jysj and t2.stamp_jysj+172800  and t3.jydfzkh!=t1.cxkh and \
            t3.jydfzkh!=t2.cxkh and t3.jydfzkh!=t3.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj  from df_lianlu_chu_2016 )t4\
            on t3.jydfmc=t4.jymc and t4.jyje between t3.jyje*0.5 and t3.jyje*1.5\
            and t4.stamp_jysj between t3.stamp_jysj and t3.stamp_jysj+172800  and t4.jydfzkh=t1.cxkh and t4.jydfzkh!=t2.cxkh and t4.jydfzkh!=t3.cxkh and t4.jydfzkh!=t4.cxkh\
            left JOIN\
            (select cxkh,jymc,jysj,jyje,jydfzkh,jydfmc,stamp_jysj from df_lianlu_chu_2016 )t5\
            on t4.jydfmc=t5.jymc and t5.jyje between t4.jyje*0.5 and t4.jyje*1.5\
            and t5.stamp_jysj between t4.stamp_jysj and t4.stamp_jysj+172800  and t5.jydfzkh!=t1.cxkh and t5.jydfzkh!=t2.cxkh and  t5.jydfzkh!=t3.cxkh \
            and  t5.jydfzkh!=t4.cxkh and t5.jydfzkh!=t5.cxkh)t'
    # 执行语句
    couser.execute(sql)
    rows = couser.fetchall()
#     df_list.append(rows)
    return rows

In [22]:
df_list=[]
for i in jymc_list:
    print('第----',jymc_list.index(i),'-----------个，总共',len(jymc_list),'个')
    df_list.append(select(i))

第---- 0 -----------个，总共 60 个
第---- 1 -----------个，总共 60 个
第---- 2 -----------个，总共 60 个
第---- 3 -----------个，总共 60 个
第---- 4 -----------个，总共 60 个
第---- 5 -----------个，总共 60 个
第---- 6 -----------个，总共 60 个
第---- 7 -----------个，总共 60 个
第---- 8 -----------个，总共 60 个
第---- 9 -----------个，总共 60 个
第---- 10 -----------个，总共 60 个
第---- 11 -----------个，总共 60 个
第---- 12 -----------个，总共 60 个
第---- 13 -----------个，总共 60 个
第---- 14 -----------个，总共 60 个
第---- 15 -----------个，总共 60 个
第---- 16 -----------个，总共 60 个
第---- 17 -----------个，总共 60 个
第---- 18 -----------个，总共 60 个
第---- 19 -----------个，总共 60 个
第---- 20 -----------个，总共 60 个
第---- 21 -----------个，总共 60 个
第---- 22 -----------个，总共 60 个
第---- 23 -----------个，总共 60 个
第---- 24 -----------个，总共 60 个
第---- 25 -----------个，总共 60 个
第---- 26 -----------个，总共 60 个
第---- 27 -----------个，总共 60 个
第---- 28 -----------个，总共 60 个
第---- 29 -----------个，总共 60 个
第---- 30 -----------个，总共 60 个
第---- 31 -----------个，总共 60 个
第---- 32 -----------个，总共 60 个
第---- 33 -----------个，总共 60 个
第---- 34 -----------个，总共 60 个
第---- 35 -----------个，总共 60 个
第---- 36 -----------个，总共 60 个
第---- 37 -----------个，总共 60 个
第---- 38 -----------个，总共 60 个
第---- 39 -----------个，总共 60 个
第---- 40 -----------个，总共 60 个
第---- 41 -----------个，总共 60 个
第---- 42 -----------个，总共 60 个
第---- 43 -----------个，总共 60 个
第---- 44 -----------个，总共 60 个
第---- 45 -----------个，总共 60 个
第---- 46 -----------个，总共 60 个
第---- 47 -----------个，总共 60 个
第---- 48 -----------个，总共 60 个
第---- 49 -----------个，总共 60 个
第---- 50 -----------个，总共 60 个
第---- 51 -----------个，总共 60 个
第---- 52 -----------个，总共 60 个
第---- 53 -----------个，总共 60 个
第---- 54 -----------个，总共 60 个
第---- 55 -----------个，总共 60 个
第---- 56 -----------个，总共 60 个
第---- 57 -----------个，总共 60 个
第---- 58 -----------个，总共 60 个
第---- 59 -----------个，总共 60 个

In [23]:
df1_list=[i for i in df_list if len(i)!=0]

In [6]:
df_data=[]
for i in df1_list:
    for j in i:
        df_data.append(j)

NameError: name 'df1_list' is not defined

In [25]:
import numpy as np
import pandas as pd
col=['yicmc','yiczh','yicsj','yicje','ercmc','erckh','ercsj','ercje','sancmc','sanckh','sancsj','sancje','sicmc','sickh','sicsj','sicje','wucmc','wuckh','wucsj','wucje','liucmc','liuckh']

In [5]:
dd=pd.DataFrame(np.array(df_data),columns=col)
dd

NameError: name 'df_data' is not defined