In [1]:
import pymysql as ps
import re
import xlrd
import pandas as pd
import numpy as np
#连接数据库
db_host = 'localhost'
db_user = 'root'
db_pwd = '521521'
db_name = 'sxllfs'
char_type = 'utf-8'
db = ps.connect(db_host, db_user, db_pwd, db_name, charset='utf8')
couser = db.cursor()
# 获取嫌疑人名单
sql='select distinct cxkh,jymc,jdbz,jysj,jyje,jyye,jydfzkh,jydfmc from gas_bank_records where jydfmc !="nan"'
couser.execute(sql)
rows = couser.fetchall()
jymc_list=[i[0] for i in rows]
couser.execute(sql)
rows = couser.fetchall()

df_columns=['cxkh','jymc','jdbz','jysj','jyje','jyye','jydfzkh','jydfmc']
df=pd.DataFrame(np.array(rows),columns=df_columns)
df['jyje']=df['jyje'].astype(str).astype(float)

In [2]:
df=df.drop_duplicates()

In [3]:
df['jymc']=df['jymc'].fillna('nan')

In [4]:
select_jymc=['中阳县中亘混凝土搅拌站','刘桂材','刘子通','朱耀峰','刘文平','刘艳辉','刘陆彪','刘电龙','刘娟良','刘二宝','刘勇','杨利民','冯上琛','崔强','冯建明','王晓明','周建文','王永林','王安平','刘贵明','张雄','曹树春','刘福元','刘海廷','杨赧','王仲明','师淑红','赵鹏丽','刘海澎'
]
df=df[(df['jymc'].isin(select_jymc))  &  (df['jydfmc'].isin(select_jymc))]

In [5]:
df.shape

(3934, 8)

In [6]:
from docx.enum.table import WD_TABLE_ALIGNMENT

In [9]:
import docx
d=docx.Document()
jymc=list(set(df.jymc))
for i in range(len(jymc)):
#     print(i,jymc[i])
    df1=df[df['jymc']==jymc[i]]
    df_fin=df1.groupby(['jymc','jydfmc','jdbz'])['jyje'].agg([sum,len]).unstack().fillna(0).reset_index()
    df_fin.columns=[i+'_'+j for i ,j in df_fin.columns]
    
    if set(df1.jdbz)==set('进'):
        df_fin['sum_出']=0
        df_fin['len_出']=0
    elif set(df1.jdbz)==set('出'):
        df_fin['sum_进']=0
        df_fin['len_进']=0

        
    df_fin['zje']=df_fin['sum_进']+df_fin['sum_出']
    df_fin['zcs']=df_fin['len_进']+df_fin['len_出']

    df_fin['sum_出']=df_fin['sum_出'].apply(lambda x:int(x))
    df_fin['sum_进']=df_fin['sum_进'].apply(lambda x:int(x))
    df_fin['len_出']=df_fin['len_出'].apply(lambda x:int(x))
    df_fin['len_进']=df_fin['len_进'].apply(lambda x:int(x))
    df_fin['zje']=df_fin['zje'].apply(lambda x:int(x))
    df_fin['zcs']=df_fin['zcs'].apply(lambda x:int(x))
    
    df2=df_fin
   
    czcs=str(len(df_fin.len_出))
    czje=str(df_fin.len_出.sum())
    jzcs=str(len(df_fin.len_进))
    jzje=str(df_fin.len_进.sum())
    zcs=str(len(df_fin.len_出)+len(df_fin.len_进))
    zje=str(df_fin.len_出.sum()+df_fin.len_进.sum())

    str1='累计交易金额{}元，交易次数{}次，进账金额{}元，进账次数{}次，出帐金额{}元，出张金额{}次'.format(zje,zcs,jzje,jzcs,czje,czcs)
    d.add_heading(str(i+1)+'.'+jymc[i])
    d.add_paragraph(str1)
    tb=d.add_table(rows=len(df2.index),cols=len(df2.columns))
    tb.add_row()
    for i in range(len(df2.columns)):
        tb.cell(0,i).text=df2.columns[i]#添加表头
    for i in range(df2.shape[0]):
        for j in range(df2.shape[1]):
            tb.cell(i+1,j).paragraphs[0].paragraph_format.alignment = WD_TABLE_ALIGNMENT.CENTER
            tb.cell(i+1,j).text=str(df2.values[i,j])
            

    # tb.style='Medium Grid 1 Accent 1'
    tb.autofit=True
#     d.add_page_break()
d.save('/home/zhu/桌面/tb8docx')

In [75]:
# df[df['jymc']=='刘福元']
df[df['jymc']=='刘福元'].groupby(['jymc','jydfmc','jdbz'])['jyje'].agg([sum,len]).unstack().fillna(0).reset_index()

     jymc       jydfmc        sum  len
jdbz                            进    进
0     刘福元  中阳县中亘混凝土搅拌站   200000.0  1.0
1     刘福元          刘桂材  2000000.0  2.0

In [78]:
set(df.jdbz)=='进'

False

In [86]:
a='出'
set(a)==set("出")

True

In [62]:


df2=df_fin
d=docx.Document()
czcs=str(len(df_fin.len_出))
czje=str(df_fin.len_出.sum())
jzcs=str(len(df_fin.len_进))
jzje=str(df_fin.len_进.sum())
zcs=str(len(df_fin.len_出)+len(df_fin.len_进))
zje=str(df_fin.len_出.sum()+df_fin.len_进.sum())

str1='累计交易金额{}元，交易次数{}次，进账金额{}元，进账次数{}次，出帐金额{}元，出张金额{}次'.format(zje,zcs,jzje,jzcs,czje,czcs)
d.add_paragraph(str1)
tb=d.add_table(rows=len(df2.index),cols=len(df2.columns))
tb.add_row()
for i in range(len(df2.columns)):
    tb.cell(0,i).text=df2.columns[i]#添加表头
for i in range(df2.shape[0]):
    for j in range(df2.shape[1]):
        tb.cell(i+1,j).text=str(df2.values[i,j])

# tb.style='Medium Grid 1 Accent 1'
tb.autofit=True
d.save('/home/zhu/桌面/tb3.docx')

In [61]:
len(df_fin.len_出)

19